[submodule "msg"]
	path = msg
	url = git@github.com:mikilukasik/msg.git
[submodule "chss-module-engine"]
	path = chss-module-engine
	url = git@github.com:mikilukasik/chss-module-engine.git
[submodule "chess-tools"]
	path = chess-tools
	url = https://github.com/mikilukasik/chess-tools
